# CMSE 202 Final Project: ?

**Group Members:**
- Araynah D.
- Palmer W.
- Katrina S.
- Yihan W.

**Date:** [April 20th, 2025]

# Abstract

### Research Question: Can we accurately classify galaxy by galaxy type using machine learning methods?


### Methodologies & Reasoning

This section details the thought process and steps each team member followed in developing the questions and answers for this project. By breaking down our individual approaches, we aim to provide transparency and insight into our problem-solving methodologies.

**Team Contributions:**

- **Araynah D.**:  
  *(Description of the approach or key insights can be added here.)*

- **Palmer W.**:  
  *(Description of the approach or key insights can be added here.)*

- **Katrina S.**:  
  *(Description of the approach or key insights can be added here.)*

- **Yihan W.**:  
  *(Description of the approach or key insights can be added here.)*

## Checkoff list
- The scientific question(s) addressed
- Methods used
- Key findings/results
- Conclusions drawn from your analysis

In [1]:
import pandas as pd

In [9]:
import pandas as pd
from io import StringIO

with open("Skyserver_CrossID4_12_2025 6_06_46 PM.csv", 'r') as f:
    lines = [line.strip() for line in f if not line.startswith('#')]
    clean_csv = '\n'.join(lines)

df = pd.read_csv(StringIO(clean_csv), sep=',')
df_new = df.dropna()
df_new

,objID,ra,dec,u,g,r,i,z,u_g,g_r,r_i,i_z,redshift,class,subclass
7,1237648720681500888,151.765047,-0.619898,19.16108,17.98452,17.43616,17.09850,16.86371,1.176563,0.548361,0.337658,0.234789,0.088258,GALAXY,STARFORMING
8,1237648720681500904,151.787944,-0.581500,20.23227,19.13928,18.39352,18.01098,17.73829,1.092993,0.745764,0.382540,0.272688,0.185045,GALAXY,STARFORMING
9,1237648720681500944,151.832744,-0.539728,19.56833,18.14698,17.40360,16.92645,16.62044,1.421350,0.743382,0.477146,0.306019,0.093622,GALAXY,STARFORMING
15,1237648721218371802,151.823099,-0.078682,18.40841,16.83150,16.14270,15.72289,15.43530,1.576910,0.688797,0.419815,0.287589,0.046519,GALAXY,STARFORMING
16,1237648721218371809,151.831042,-0.151540,20.01305,18.70338,17.81924,17.32245,17.02222,1.309669,0.884142,0.496782,0.300230,0.190871,GALAXY,STARFORMING
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64945,1237671262809162130,132.773039,12.159561,19.38143,17.89558,17.13336,16.74871,16.42609,1.485853,0.762217,0.384653,0.322617,0.060236,GALAXY,STARFORMING
64948,1237671935507432550,258.427282,34.425991,23.25361,21.47397,20.90758,20.54717,20.70424,1.779634,0.566395,0.360411,-0.157072,0.093986,GALAXY,STARBURST
64966,1237671958588883106,202.605635,9.933032,19.16389,17.83509,17.34900,17.07910,17.07780,1.328806,0.486082,0.269903,0.001297,0.081165,GALAXY,STARFORMING
64967,1237671958589145275,202.818520,9.387753,18.99929,17.56492,16.66048,16.20951,15.86477,1.434374,0.904438,0.450970,0.344743,0.123967,GALAXY,STARFORMING
64990,1237671958591438883,204.997277,4.675304,21.54283,20.34678,20.29450,19.69472,19.84475,1.196049,0.052282,0.599775,-0.150024,0.033651,GALAXY,STARFORMING

In [10]:
df_new['subclass'].unique()

array(['STARFORMING', 'STARBURST', 'AGN', 'STARFORMING BROADLINE',
       'BROADLINE', 'AGN BROADLINE', 'STARBURST BROADLINE'], dtype=object)

In [12]:
from sklearn.preprocessing import StandardScaler

features = df[['u', 'g', 'r', 'i', 'z', 'u_g', 'g_r', 'r_i', 'redshift']]

scaler = StandardScaler()
features_scaled = scaler.fit_transform(features)

label_mapping = {
    'STARFORMING': 'SF',
    'STARBURST': 'SB',
    'AGN': 'AGN',
    'STARFORMING BROADLINE': 'AGN_SF',
    'BROADLINE': 'AGN',
    'AGN BROADLINE': 'AGN',
    'STARBURST BROADLINE': 'AGN_SF'}

y = df['subclass'].map(label_mapping)

print(y.value_counts())

subclass
SF        7506
SB        2518
AGN       1160
AGN_SF      46
Name: count, dtype: int64