# CMSE 202 Final Project: ?

**Group Members:**
- Araynah D.
- Palmer W.
- Katrina S.
- Yihan W.

**Date:** [April 20th, 2025]

# Abstract

### Research Question: 



### Methodologies & Reasoning

This section details the thought process and steps each team member followed in developing the questions and answers for this project. By breaking down our individual approaches, we aim to provide transparency and insight into our problem-solving methodologies.

**Team Contributions:**

- **Araynah D.**:  
  *(Description of the approach or key insights can be added here.)*

- **Palmer W.**:  
  *(Description of the approach or key insights can be added here.)*

- **Katrina S.**:  
  *(Description of the approach or key insights can be added here.)*

- **Yihan W.**:  
  *(Description of the approach or key insights can be added here.)*

## Checkoff list
- The scientific question(s) addressed
- Methods used
- Key findings/results
- Conclusions drawn from your analysis

In [2]:
import pandas as pd

In [36]:
import pandas as pd
from io import StringIO

with open("Skyserver_CrossID4_12_2025 6_06_46 PM.csv", 'r') as f:
    lines = [line.strip() for line in f if not line.startswith('#')]
    clean_csv = '\n'.join(lines)

df = pd.read_csv(StringIO(clean_csv), sep=',')
df_new = df.dropna()
df_new

,objID,ra,dec,u,g,r,i,z,u_g,g_r,r_i,i_z,redshift,class,subclass
5,1237648720145285449,153.306341,-0.896848,18.95948,18.13569,17.90530,17.61372,17.52285,0.823793,0.230393,0.291582,0.090864,0.062303,GALAXY,STARBURST
8,1237648720145350846,153.343355,-0.871817,18.95092,17.75390,17.22394,16.90525,16.67649,1.197025,0.529955,0.318687,0.228767,0.047484,GALAXY,STARFORMING
14,1237648720678944894,145.874449,-0.608755,18.19744,16.69651,16.01479,15.64210,15.39185,1.500925,0.681723,0.372692,0.250249,0.071590,GALAXY,STARFORMING
18,1237648720682287313,153.595670,-0.625326,17.57071,16.13495,15.39250,15.00002,14.68709,1.435757,0.742447,0.392484,0.312931,0.085927,GALAXY,STARFORMING
22,1237648721215946942,146.299839,-0.119995,17.86945,15.94067,14.97828,14.50247,14.08414,1.928787,0.962383,0.475814,0.418324,0.030704,GALAXY,AGN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64988,1237662238016274577,214.977375,8.905497,19.78687,18.17079,17.30154,16.87577,16.52004,1.616076,0.869249,0.425775,0.355722,0.122285,GALAXY,STARFORMING
64989,1237662238017585296,217.982977,8.637717,16.60269,15.14315,14.53520,14.18977,13.91660,1.459541,0.607952,0.345427,0.273173,0.033137,GALAXY,STARFORMING
64990,1237662238017650901,218.182467,8.605464,19.10909,18.16031,17.79346,17.46519,17.32477,0.948784,0.366850,0.328270,0.140415,0.116040,GALAXY,STARBURST
64995,1237662238017716470,218.405793,8.658590,19.76802,18.27528,17.52789,17.10510,16.79983,1.492737,0.747391,0.422792,0.305271,0.081524,GALAXY,STARFORMING
64998,1237654601033777425,166.578200,4.462978,19.40067,18.02258,17.34977,17.02607,16.75941,1.378092,0.672810,0.323706,0.266653,0.022128,GALAXY,STARFORMING

KeyError: 'ra'